IoT/conversion a csv_flows.json
[
    {
        "id": "3b3d353dd326c053",
        "type": "tab",
        "label": "Quanam_Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8c0a7fb8817eeeb",
        "type": "mqtt-broker",
        "name": "Sensor",
        "broker": "iot.maratona.dev",
        "port": "31666",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "267f12e354d29d3f",
        "type": "mqtt in",
        "z": "3b3d353dd326c053",
        "name": "Quanam",
        "topic": "quanam",
        "qos": "2",
        "datatype": "auto",
        "broker": "a8c0a7fb8817eeeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8b9684d82d6da43e",
                "fc22a1677cdf87dd"
            ]
        ],
        "info": "Nodo de Recepción de Datos por MQTT"
    },
    {
        "id": "8b9684d82d6da43e",
        "type": "debug",
        "z": "3b3d353dd326c053",
        "name": "PruebaRecepción",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": [],
        "info": "Nodo de revisión de recepción de datos"
    },
    {
        "id": "22b4ce8522e9f959",
        "type": "file",
        "z": "3b3d353dd326c053",
        "name": "data_csv",
        "filename": "C:/Users/JORGE/Downloads/data.csv",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "9e696a3658d5ba7c"
            ]
        ]
    },
    {
        "id": "fc22a1677cdf87dd",
        "type": "json",
        "z": "3b3d353dd326c053",
        "name": "Recepción json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "9a536c7bcb76831e"
            ]
        ]
    },
    {
        "id": "9e696a3658d5ba7c",
        "type": "debug",
        "z": "3b3d353dd326c053",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "9a536c7bcb76831e",
        "type": "csv",
        "z": "3b3d353dd326c053",
        "name": "Transformación csv",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "ILLUM,HUMID,CO2,SOUND,TEMP,RYTHM,ID",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "22b4ce8522e9f959"
            ]
        ]
    }
]